if SHIELD_TEMPE_LEFT

config ZMK_KEYBOARD_NAME
    default "tempe"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TEMPE_LEFT || SHIELD_TEMPE_RIGHT

config ZMK_SPLIT
    default y

endif